<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link href="static/js/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="static/js/jquery-ui-bootstrap/jquery-ui-1.10.0.custom.css" rel="stylesheet"/>
    <link href="static/css/jscrollpane.css" rel="stylesheet"/>
    <link href="static/css/index.css" rel="stylesheet"/>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="static/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/jscrollpane.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="static/js/index.js"></script>
    <script type="text/javascript" src="static/js/login.js"></script>
  </head>

  <body>

    <div id="background-div" >
    
      <div class="navbar navbar-inverse navbar-fixed-top"></div>

      <div id="left-column">

	<div class="menu"> 
          <div class="header">
	    <h5 class="center-text "><b>members</b></h5>
	    <button id="add-member-btn" type="button" class="btn btn-default btn-xs">
	      <span class="glyphicon glyphicon-plus"></span> add
	    </button>
	  </div> 

	  <div id="username-div"> 
	    <div class="input-group">
	      <span class="input-group-addon">your name:</span>
	      <input type="text" class="form-control" placeholder="name"/>
	    </div>
	  </div>
	</div>

	<div class="menu">
          <div class="header">
	    <h5 class="center-text "><b>groups</b></h5>
	    <button id="new-group-btn" type="button" class="btn btn-default btn-xs">
	      <span class="glyphicon glyphicon-plus"></span>
	    </button>
	  </div> 

	  <div id="groups-div"></div>
	</div>
      </div>

      <div id="main-container">
	<div id="chat-container"><p id="chat-fill"></p></div>

	<div class="row" id="words_input_group">
	  <div class="input-group" id="user-input">
	    <input type="text" class="form-control" placeholder="say something here" id="words-input"/>
	    <span class="input-group-btn">
              <button id="say-words-btn" class="btn btn-default" type="button">
		<span class="glyphicon glyphicon-edit"></span>
	      </button>
	    </span>
	  </div>
	</div>
	
      </div>
    </div> <!-- background div -->

    <!-- login dialog -->
    <div id="login-dialog">        
      <div class="login-input-row">          
        <div class="login-input-title"> 
            <h5><b>Name</b></h5>
        </div>
        <div class="input-group">
          <span class="input-group-addon"></span>
          <input id="login-username" type="text" class="form-control" placeholder="username"/>
        </div>
      </div>

      <div class="login-input-row">
        <div class="login-input-title"> <h5><b>Password</b></h5> </div>
        <div class="input-group">
          <span class="input-group-addon"></span>
          <input id="login-password" type="password" class="form-control" placeholder="password"/>
        </div>
      </div>
    </div>


    <!-- new-user dialog -->
    <div id="new-user-dialog">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">email address</span>
                <input type="text" class="form-control" placeholder="email address" name="email-address"/>
            </div>

            <div class="input-group">
                <span class="input-group-addon">username</span>
                <input type="text" class="form-control" placeholder="username" name="username"/>
            </div>

            <div class="input-group">
                <span class="input-group-addon">password</span>
                <input type="password" class="form-control" placeholder="password"/>
            </div>

            <div class="input-group">
                <span class="input-group-addon">retype-password</span>
                <input type="password" class="form-control" placeholder="retype password" name="password"/>
            </div>
            <button type="submit" formaction="/api/new-user" class="btn btn-default">Create</button>
            <button type="button" class="btn btn-default">Cancel</button>
        </div>
    </div>


  </body>
</html>
</jsp:root>